# Erlang version
erlang_version=19.0

# Elixir version
elixir_version=1.3.2

# Always rebuild from scratch on every deploy?
always_rebuild=false

# Export heroku config vars
config_vars_to_export=(SERVER_ACCEPTORS REMOTE_STORAGE_URL REMOTE_STORAGE_POOL_SIZE REMOTE_STORAGE_POOL_MAX_OVERFLOW CACHE_POOL_SIZE CACHE_POOL_MAX_OVERFLOW MEMCACHE_POOL_SIZE MEMCACHE_POOL_MAX_OVERFLOW GM_POOL_SIZE GM_POOL_MAX_OVERFLOW GM_TIMEOUT)

# A command to run right before compiling the app (after elixir, .etc)
pre_compile="pwd"

# A command to run right after compiling the app
post_compile="pwd"

# Set the path the app is run from
runtime_path=/app
